@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.main-container {
    min-height: 100vh;
    /* width: 100%; */
    font-family: Roboto, sans-serif;
}

.header-section {
    /* width: 100%; */
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    row-gap: 55px;
}

.logo-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
}

.links ul {
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 20px;
}

.links ul li {
    list-style-type: none;
}

.links ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.hero-section {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    column-gap: 60px;
    flex-wrap: wrap;
}

/* .hero-details, .hero-images {
    flex: 4;
} */

.hero-details {
    /* border: 1px solid red; */
    padding: 25px;
    flex: 1;
    color: #f9faf8;
    max-width: 600px;
}

.hero-details p {
    margin: 0 0 15px 0;
    padding: 0;
}

.hero-details .headline {
    font-weight: 900;
    font-size: 48px;
}

.hero-details .description {
    max-width: 600px;
    font-size: 18px;
}

.get-started {
    display: inline-block;
    border: none;
    background-color: #3882f6;
    padding: 8px 15px;
    color: #f9faf8;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
}

.hero-images {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

.hero-images img {
    object-fit: contain;
    width: 100%;
}

/* Information Section */

.information-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.information-heading {
    font-size: 36px;
    font-weight: 900;
}

.information-content-container {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
    column-gap: 50px;
    flex-wrap: wrap;
}

.information-content {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
}

.information-label {
    font-weight: 900;
    font-size: 18px;
}

.information-image-container {
    width: 100%;
    height: 200px;
    border: 1px solid black;
}

.information-image-container img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.information-details {
    height: 60px;
    text-align: center;
}

/* Testimonial Section */

.testimonial-heading {
    margin: 0;
    padding: 25px;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.testimonial-container {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 70px 0;
}

.testimonial {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    max-width: 650px;
}

.testimonial p {
    margin: 0;
    padding: 0;
}

.testimonial-message {
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    font-style: italic;
}

.testimonial-author {
    align-self: flex-end;
    font-weight: 900;
}

/* CTA Section */

.cta-section {
    padding: 80px 100px;;
}

.cta-container {
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    border-radius: 10px;
}

.cta-heading, .cta-message {
    color: #ffffff;
    margin: 0 0 5px 0;
    padding: 0;
}

.cta-heading {
    font-size: 24px;
    font-weight: 900;
}

.cta-message {
    font-size: 18px;
}

.cta-btn-container {
    align-self: center;
}

.cta-btn {
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: #3882f6;
    padding: 8px 25px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}